{**
* @param string  web base path
* @param array   flash messages
*}

<!--Content-->
{block content}
    <div class="row" style="margin-left: 0px;">
        <div class="col-lg-8 content league m-b-xl m-l">


        </div>
    </div>

{/block}

{block scripts}
    <!--Scripts-->
    {include parent}
    <!--Include parents scripts-->
{/block}

{block head}
    <!--Head-->
{/block}