<div class="forum-item" n:foreach="$sub as $data">
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon">
                <i class="fa fa-file-text-o"></i>
            </div>
            <a href="" class="forum-item-title">{$data->name}</a>
            <a href="{plink Forum:Deletesub $data->id}">
                <button class="btn btn-link demo4">Odstranit</button>
            </a>
            <a href="{plink Forum:editsub $data->id}">
                <button class="btn btn-link demo4">Upraviť</button>
            </a>
            <div class="forum-sub-title">{$data->about}
            </div>
        </div>
    </div>
</div>